/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.category-container {
  padding-top: 25px;
  padding-bottom: 130px;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shadowballs {
  margin-bottom: 2rem;
  width: 100%;
}

.shadowballs:nth-of-type(1) {
  background: url(../../img/category_shadowBall.jpg) center center/cover no-repeat;
}

.shadowballs:nth-of-type(2) {
  background: url(../../img/Nashua-rugby-skills-project-shadowball-Springbok-high-school-28.jpg) center center/cover no-repeat;
}

.section-2:nth-of-type(1) {
  background: url(../../img/BoosterPack.jpg) center center/cover no-repeat;
}

.section-2:nth-of-type(2) {
  background: url(../../img/wear.jpg) center center/cover no-repeat;
}

.shadowballs {
  position: relative;
  color: #DFE1EA;
  height: 50vh;
}

.title {
  display: block;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #DFE1EA;
  z-index: 5;
  font-size: 28px;
  font-weight: 400;
  opacity: 1;
}

.shadowball-content button{
  padding: 4vw 7vw;
}

.shadowball-content {
  color: #DFE1EA;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  z-index: 3;
  padding: 0 1rem;
}

.shadowball-content h2 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 6% 0;
  -webkit-transform: translate(5%, 109%);
      -ms-transform: translate(5%, 109%);
          transform: translate(5%, 109%);
}

.shadowball-content p {
  padding-bottom: 8%;
  padding-top: 0%;
  line-height: 1.5;
  text-align: center;
}

.shadowball-content a {
  text-decoration: none;
  color: #0d1017;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}

.shadowball-content button:hover {
  background: rgb(207, 202, 202);
  cursor: pointer;
}

.shadowballs:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.shadowballs:hover:after {
  background: rgba(0, 0, 0, 0.8);
}

.shadowball-content p, .shadowball-content button {
  font-size: 1rem;
  opacity: 0;
}
.shadowballs:hover .shadowball-content h2 {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.shadowballs:hover .shadowball-content p, .shadowballs:hover .shadowball-content button {
  opacity: 1;
}

