/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 200px 0px;
}

.error-title {
  font-size: 50px;
}

.error-content {
  font-size: 24px;
}

.back-btn {
  background: #E8F025;
  text-decoration: none;
  padding: 20px;
  margin-top: 30px;
  color: #0d1017;
  border-radius: 3px;
  font-size: 16px;
}

.back-btn:hover {
  background: rgb(189, 194, 37);
}
