/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


:root {
  --clr-yellow: #E8F025;
  --clr-black: #0d1017;
}

/*Hero banner*/
.hero-banner {
  height: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  background-color: #212020;
  background-image:url(../../img/hero_image.jpg);
  padding: 4rem 2rem;
}

.hero-banner::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(6, 6, 5, 0.88);
}

.hero-banner-content {
  position: relative;
  z-index: 2;
  font-size: 32px;
  color: #c7c7c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 2;
  flex-direction: column;
}

.hero-banner span {
  color: var(--clr-yellow);
  font-weight: 800;
}

.hero-banner p {
  font-size: 1rem;
}

.cards-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buttons {
  margin-right: auto;
}
.buttons  button {
  background: #E8F025;
  border: 2px solid var(--clr-yellow);
}

.buttons button:nth-child(1) {
  padding: 0.7rem 2.3rem;
}
.buttons button:nth-child(2) {
  background: transparent;
  color: #DFE1EA;
  padding: 0.7rem 1.8rem;
}
.buttons button:nth-child(2) a {
  color: #DFE1EA;
}

.buttons button a {
  color: #0d1017;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.buttons button:nth-child(1):hover {
background-color: #878c0b;
border-color:  #878c0b;
}

.buttons button:nth-child(2):hover, .buttons button:nth-child(2):hover a {
  color: #0d1017;
  border-color: transparent;
  background-color: #878c0b;
}

.box {
  padding-top: 8rem;
}

.box .sub-card-item {
  position: relative;
  padding-bottom: 0;
  margin-bottom: 2rem;
  padding-right: 0;
  margin-right: 1rem;
}

.box .sub-card-item:hover::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #928989c7;
  opacity: .7;
  z-index: 1;
}

.box .sub-card-item a {
  z-index: 100;
}

.box .sub-card-item a {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #E8F025;
  font-size: 0.8rem;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2vw 8vw;
  color: #0d1017;
  text-align: center;
  -webkit-transition: paddin, background-color 200ms ease-in;
  -o-transition: paddin, background-color 200ms ease-in;
  transition: paddin, background-color 200ms ease-in;
  border-radius: 3px;
  opacity: 0;
}

.box .sub-card-item a:hover {
  background-color: rgb(246, 255, 0);
  -webkit-transition: 200ms ease-in;
  -o-transition: 200ms ease-in;
  transition: 200ms ease-in;
  -webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
          box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  font-weight: 600;
}

.box header {
  padding-bottom: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  color: #0d1017;
  font-size: 0.7rem;
}

.box .sub-card-item {
  width: 40%;
}

.box .sub-card-item:hover a {
  opacity: 1;
  cursor: pointer;
}

.info-container, .product-info-container-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 100%;
}

.card-content,
.video-content {
  width: 100%;
}

.video-container {
  position: relative;
  overflow: hidden;
  min-height: 308px;
  height: 0;
  padding-bottom: 56.25%;
}

embed,
iframe,
object {
  max-width: 100%;
}

.video-container iframe, object,embed{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-content {
  background-color: #0d1017;
  color: #DFE1EA;
  position: relative;
  padding: 5%;
  margin-bottom: 2rem;
}

.triangle {
  width: 100px;
  height: 100px;
  background: var(--clr-yellow);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.triangle::after {
  content: "";
  position: absolute;
  bottom: 1px;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: var(--clr-black);
  -webkit-transform: skewX(-45deg);
      -ms-transform: skewX(-45deg);
          transform: skewX(-45deg);
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
  z-index: -1;
}

.card-content svg  {
  width: 15px;
  vertical-align: middle;
  position: relative;
  z-index: 4;
  margin-left: 8px;
}

.card-content svg path {
  fill: var(--clr-yellow);
}

.card-content header {
  font-size: 1.5rem;
}

.card-content ul {
  position: relative;
  z-index: 2;
  font-weight: 300;
  line-height: 2;
  padding: 1rem;
}

.card-content ul li {
 font-size: 0.8rem;
}

.card-content ul li:last-child {
  list-style: none;
}

.info-container .card-content a {
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 2;
  color: #DFE1EA;
}

.card-content ul,i {
  color: #DFE1EA;
}

.card-content a:hover {
  color: var(--clr-yellow);
}
